<h2>Artist <%= @artist.id%> </h2>

<h1><%= @artist.name %></h1> 

<p><%= @artist.bio %></p>

<h2>Genres:</h2>
<p><%= @artist.genres.map{|genre| genre.name}.join(", ") %></p>

<ul>
<h2>Songs: </h2>
    <% @artist.songs.each do |song| %>
        <li><%= song.name %></li>
    <% end %>
</ul>



